@model HomeContent

<style type="text/css">
    .videoBtn{
        display: none;
        position: absolute;
        transform: translateY(-80%) translateX(-50%);
    }
    .img-video:hover + .videoBtn{
        display: inline;
    }
    .videoBtn:hover{
        display: inline;
    }
</style>

@foreach (HomeViewModel content in Model.Content)
{
    <div class="row  m-b-md m-l-sm m-r-sm">
        <div class="col-lg-3 p-xxs text-center courseCardEndDate">
            <h1><span class="text-big @content.AwardIcon"></span></h1>
            <h3>@Model.DateDifference(DateTime.Now, content.DateAdded)</h3>
            <h4>
                <span class="fa fa-clock-o"></span>
                @if (content.EndDate != DateTime.MinValue)
                {
                    @if (DateTime.Now > content.EndDate)
                    {
                        <span class="text-danger">
                            FINISHED
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            End in
                            @Model.DateDifference(content.EndDate,
                                    DateTime.Now).Replace("ago", "")
                        </span>
                    }
                }
                else
                {
                    <span class="text-success">
                        NO END DATE
                    </span>

                }
            </h4>
        </div>
        <div class="col-lg-9 p-sm">
            <div class="col-lg-3 text-center" id="img-video-btn">
                <img src="~/imgAlt.jpg" alt="video" class="img-video" 
                     style="z-index: 2"/>
                <div class="text-center img-video videoBtn" style="z-index: 1">
                    <button class="btn btn-sm btn-primary2 p-xs">
                        <span class="fa fa-play"style="font-size: 30px"></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <h2>
                    @switch (content.ContentType)
                    {
                        case "course":
                            <a href="@Url.Action("CourseDetails", "Courses",
                            new { id = ViewData["Id"], courseId = content.ContentId })">
                                @content.Title
                            </a>
                            break;
                        case "presentation":
                            <a href="@Url.Action("CourseDetails", "Courses",
                            new { id = ViewData["Id"], courseId = content.ContentId })">
                                @content.Title
                            </a>
                            break;
                    }
                </h2>
                <h4 class="text-muted">
                    by:
                    <a href="@Url.Action("UserProfile", "User",
                            new { id = ViewData["Id"],
                            userId = content.CreatedById })">
                        <span class="text-info">&#64;@content.CreatedBy</span>
                    </a>
                </h4>
                <h5>
                    <span class="far fa-edit"></span>
                    Date Modified:
                    <span class="text-success">
                        @Model.DateDifference(DateTime.Now, content.DateModified)
                    </span>
                </h5>
                <h5><span class="fa fa-eye"></span> 0 Wiew</h5>
            </div>
            <div class="col-lg-2">
                @switch (content.ContentType)
                {
                    case "course":
                        <a href="@Url.Action("AllCourses", "Courses",
                            new { id = ViewData["Id"], sort = "Date Added",
                                order = "desc"})"
                           class="btn btn-outline btn-info"
                           style="font-size: 20px; border-radius: 15px">
                            Course
                        </a>
                        break;
                    case "presentation":
                        <a href="@Url.Action("CourseDetails", "Courses",
                            new { id = ViewData["Id"], courseId = content.ContentId })"
                           class="btn btn-outline btn-info"
                           style="font-size: 20px; border-radius: 15px">
                            @content.ContentType
                        </a>
                        break;
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var videoBtn = document.getElementById('videoBtn');

    function videoPlayBtn() {
        videoBtn.removeAttribute("hidden");
    }

    function imgNormal() {
        videoBtn.hidden = "true";
    }
    </script>
}

