@model AppUser

@{
    Layout = "_MainLayout";
    ViewBag.Title = "MyProfile";
}

<div class="row rightNav">
    @await Component.InvokeAsync("CompanyNavigation", Model)
</div>

<div class="row">

    <div class="col-10" style="margin:auto; margin-top: 40px" id="profileMain">

        <div class="row">
            <img src="~/defaultAvatar.png" id="profileImg" />
        </div>

        <div class="row">
            <h3 class="name">@Model.FirstName @Model.LastName</h3>
        </div>

        <div class="row">
            <h5 class="name"><i class="fas fa-user"></i> @Model.UserName</h5>
        </div>

        <div class="row">
            <h4 class="name"><i class="fas fa-briefcase"></i> @Model.CompanyName</h4>
        </div>

        <div class="row">
            <h6 class="name"><i class="fas fa-at"></i> @Model.Email</h6>
        </div>

        <div class="row">
            <h6 class="name"><i class="fas fa-phone"></i> @Model.PhoneNumber</h6>
        </div>

        <div class="row">
            <a asp-action="EditMyProfile"
               asp-controller="CompanyAdmin"
               asp-route-id="@Model.Id"
               id="editBtn" class="btn btn-outline-info">Edit</a>
        </div>
    </div>
</div>