@model Profile

@{
    Layout = "_MainLayout";
    ViewBag.Title = "MyProfile";
}

<div class="row rightNav">
    @await Component.InvokeAsync("CompanyNavigation", Model.appUser)
</div>

<div class="row">

    <div class="col-10" style="margin:auto; margin-top: 40px" id="profileMain">

        <div class="row">
            @if (Model.userProfile.ProfilePicture == null)
            {
            <img src="~/defaultAvatar.png" id="profileImg" />
            }
            else
            {
            <img src=@Model.userProfile.ProfilePicture id="profileImg" />
            }
        </div>

        <div class="row">
            <h3 class="name">@Model.appUser.FirstName @Model.appUser.LastName</h3>
        </div>

        <div class="row">
            <h5 class="name"><i class="fas fa-user"></i> @Model.appUser.UserName</h5>
        </div>

        <div class="row">
            <h4 class="name"><i class="fas fa-briefcase"></i> @Model.appUser.CompanyName</h4>
        </div>

        <div class="row">
            <h6 class="name"><i class="fas fa-at"></i> @Model.appUser.Email</h6>
        </div>

        <div class="row">
            <h6 class="name"><i class="fas fa-phone"></i> @Model.appUser.PhoneNumber</h6>
        </div>

        <div class="row">
            <a asp-action="EditMyProfile"
               asp-controller="CompanyAdmin"
               asp-route-id="@Model.appUser.Id"
               id="editBtn" class="btn btn-outline-info">Edit</a>
        </div>
    </div>
</div>