@model SearchAllRepresentation

<div id="all-representations-search">
    <div class="row">
        @foreach (SearchRepresentation representation in Model.AllRepresentation)
        {
            <div class="col-lg-3">
                <div class="hpanel contact-panel horange">
                    <div class="panel-body">
                        @if (representation.Video.Id != 0)
                        {
                            <div class="col-lg-12">
                                <div id="video-videoBtn"
                                     style="background-color: #0c0830; padding:0px">
                                    <video src="@representation.Video.VideoPath" class="img-video"
                                           style="width:100%; z-index: 1;" id="video-video"></video>
                                    <div class="text-center img-video videoBtn" style="z-index: 1">
                                        <a href="@Url.Action("Index", "Recorder",
                                                            new { id = ViewData["Id"], videoId = representation.Video.Id })"
                                           class="btn btn-sm btn-primary2 p-xs">
                                            <span style="font-weight: 400; font-size: 18px">Watch</span>
                                            <span class="fa fa-play" style="font-size: 18px"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12">
                                <div class="text-center p-lg" style="width: 100%; height: 80%;
                                                    background-color: #bbbbbb;">
                                    <strong style="color:#34495e; font-size:20px;
                                                        font-family: 'Open Sans','Helvetica Neue',
                                                            Helvetica,Arial,sans-serif; ">
                                        SirmiumCommercial
                                    </strong>
                                    <br />
                                    <br />
                                    <i style="font-size: 45px; color:#5b80a4;" class="fas fa-video-slash"></i>
                                    <br />
                                    <strong style="font-size: 25px; color:#5b80a4;">NO VIDEO</strong>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <span class="text-muted" style="font-size: 18px;">
                                    @representation.Representation.Title
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <a href="@Url.Action("UserProfile", "User",
                                                    new { id = ViewData["Id"], userId = representation.CreatedBy.Id })">
                                    <img src="@Model.userImgSrc(representation.CreatedBy.ProfilePhotoUrl)"
                                         style="width: 30px; height: 30px; border-radius: 15px"
                                         alt="profile photo" />
                                </a>
                            </div>
                            <div class="col-lg-10" style="margin-left: 0px; font-size: 15px;">
                                <span class="text-muted">@Model.courseCreatedBy(representation.CreatedBy)</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <strong>Rating: </strong>
                            </div>
                            <div class="col-lg-10" style="margin-left: 0px; font-size: 15px;">
                                @Html.Raw(Model.representationRating(representation.Representation.Rating))
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <span>For: <strong>@representation.PresentationTitle</strong></span>
                                <span class="@representation.Course.AwardIcon"></span>
                                <strong> @representation.Course.Title</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row m-l-sm">
        <div search-representations-page-model="@Model.RepresentationPageInfo" page-classes-enabled="true"
             page-class="btn" page-class-normal="btn-default"
             page-class-selected="btn-warning" class="btn-group pull-left m-sm">
        </div>
    </div>
</div>
