@model GalleryPartialViewModel

<div class="row p-sm">
    <div class="col-lg-12">
        <div class="hpanel" style="margin-bottom: 0px;">
            <div class="panel-heading hbuilt">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                @Model.GalleryName(Model.OnClickAction)
            </div>

            <div class="panel-body">
                <div class="content" style="padding: 0px;">
                    <div class="row">
                        @foreach (VideoInfo vInfo in Model.VideoInfo.Take(4))
                        {
                            <div class="col-lg-3">
                                <div class="hpanel contact-panel @Model.panelTopColor(Model.OnClickAction)">
                                    <div class="panel-body" style="padding-top: 10px;">
                                        @if (vInfo.Video.Status == "Private")
                                        {
                                            <div class="btn-group">
                                                <a data-toggle="dropdown" class="dropdown-toggle"
                                                    style="font-size: 17px"><i class="pe-7s-more"></i></a>
                                                <ul class='dropdown-menu'>
                                                    <li><a style='font-size: 17px' 
                                                           href="@Url.Action("DeletePrivateVideo", "Recorder", new { id = ViewData["Id"], videoId = vInfo.Video.Id })">
                                                        <i class='pe pe-7s-trash text-error'></i> Remove
                                                    </a></li>
                                                </ul>   
                                            </div>
                                        }
                                        <div style="position: relative;">
                                            <video src="@vInfo.Video.VideoPath" class="img-video"
                                                   style="z-index: 1"></video>
                                            <div class="text-center img-video videoBtnCD" style="z-index: 1;">
                                                <a href="@Url.Action("Index", "Recorder", new { id = ViewData["Id"], videoId = vInfo.Video.Id })"
                                                   class="btn btn-sm btn-primary2 p-xs">
                                                    <span style="font-weight: 400; font-size: 18px">Watch</span>
                                                    <span class="fa fa-play" style="font-size: 18px"></span>
                                                </a>
                                            </div>
                                        </div>
                                        @Html.Raw(Model.VideoName(vInfo.Video.Title))
                                        <a href="@Url.Action("UserProfile", "User",
                                        new { id = ViewData["Id"], userId = vInfo.CreatedBy.Id })">
                                            <span class="text-muted font-bold m-b-xs text-info">
                                                &#64;@vInfo.CreatedBy.UserName
                                            </span>
                                        </a>
                                        @if (Model.OnClickAction != "private")
                                        {
                                            <br /><br />
                                            <span>Views: @vInfo.Video.Views &emsp;</span>
                                            <span class="far fa-thumbs-up" style="font-weight: 300"></span>
                                            <span> @vInfo.Likes &emsp;</span>
                                            <span class="far fa-thumbs-down" style="font-weight: 300"></span>
                                            <span> @vInfo.Dislikes &emsp;</span>
                                            <span class="text-error fas fa-comment" style="font-weight: 300"></span>
                                            <span> @vInfo.Comments &emsp;</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                @if (Model.VideoInfo.Count() > 4)
                {
                    <div class="collapse" id="@Model.DivId">
                        <div class="content" style="padding: 0px;">
                            <div class="row">
                                @foreach (VideoInfo vInfo in Model.VideoInfo.Skip(4))
                                {
                                    <div class="col-lg-3">
                                        <div class="hpanel contact-panel @Model.panelTopColor(Model.OnClickAction)">
                                            <div class="panel-body">
                                                <div style="position: relative;">
                                                    <video src="@vInfo.Video.VideoPath" class="img-video"
                                                           style="z-index: 1"></video>
                                                    <div class="text-center img-video videoBtnCD" style="z-index: 1;">
                                                        <a href="@Url.Action("Index", "Recorder", new { id = ViewData["Id"], videoId = vInfo.Video.Id })"
                                                           class="btn btn-sm btn-primary2 p-xs">
                                                            <span style="font-weight: 400; font-size: 18px">Watch</span>
                                                            <span class="fa fa-play" style="font-size: 18px"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                                @Html.Raw(Model.VideoName(vInfo.Video.Title))
                                                <a href="@Url.Action("UserProfile", "User",
                                                    new { id = ViewData["Id"], userId = vInfo.CreatedBy.Id })">
                                                    <span class="text-muted font-bold m-b-xs text-info">
                                                        &#64;@vInfo.CreatedBy.UserName
                                                    </span>
                                                </a>
                                                @if (Model.OnClickAction != "private")
                                                {
                                                <br /><br />
                                                <span>Views: @vInfo.Video.Views &emsp;</span>
                                                <span class="far fa-thumbs-up" style="font-weight: 300"></span>
                                                <span> @vInfo.Likes &emsp;</span>
                                                <span class="far fa-thumbs-down" style="font-weight: 300"></span>
                                                <span> @vInfo.Dislikes &emsp;</span>
                                                <span class="text-error fas fa-comment" style="font-weight: 300"></span>
                                                <span> @vInfo.Comments &emsp;</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="collapse-btn collapsed"
                                id="@Model.BtnId"
                                type="button" data-toggle="collapse"
                                data-target="#@Model.DivId"
                                aria-expanded="false"
                                aria-controls="@Model.DivId"
                                onclick="@Model.onClickFunction(Model.OnClickAction)">
                            Show More <span class="fa fa-angle-double-down"></span>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
