@model AllCourse

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "All Courses";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/UserLocal.css" />
    </environment>
}

<div id="topNav" class="nav navbar">
    <div class="navbar-left m-l">
        <ul class="nav navbar-nav no-borders">
            <li>
                <h2><strong>@ViewData["Title"]</strong></h2>
            </li>
        </ul>
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                    <span class="text-primary"> Sort by: </span>
                    @ViewData["Sort"]
                    @if (ViewData["order"].ToString() == "asc")
                    {
                        <i class="fas fa-sort-alpha-down"></i>
                    }
                    else
                    {
                        <i class="fas fa-sort-alpha-down-alt"></i>
                    }
                    <span class="fa fa-caret-down"></span>
                </a>
                <ul class="dropdown-menu hdropdown animated flipInX">
                    <li>
                        <a href="@Url.Action("AllCourses", "Courses",
                                new
                                {
                                    userId = ViewData["Id"],
                                    sort = "Title",
                                    order = "asc"
                                })">
                            <strong>Title Asc</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllCourses", "Courses",
                                new
                                {
                                    userId = ViewData["Id"],
                                    sort = "Title",
                                    order = "desc"
                                })">
                            <strong>Title Desc</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllCourses", "Courses",
                                new
                                {
                                    userId = ViewData["Id"],
                                    sort = "End Date",
                                    order = "asc"
                                })">
                            <strong>End Date Asc</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllCourses", "Courses",
                                new
                                {
                                    userId = ViewData["Id"],
                                    sort = "End Date",
                                    order = "desc"
                                })">
                            <strong>End Date Desc</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllCourses", "Courses",
                                new
                                {
                                    userId = ViewData["Id"],
                                    sort = "Date Added",
                                    order = "asc"
                                })">
                            <strong>Date Added Asc</strong>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("AllCourses", "Courses",
                                new
                                {
                                    userId = ViewData["Id"],
                                    sort = "Date Added",
                                    order = "desc"
                                })">
                            <strong>Date Added Desc</strong>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

@foreach (Course course in Model.Courses)
{
    <div class="col-md-12 m-b-md m-r-md">
        <div class="col-md-2 p-xxs text-center courseCardEndDate">
            <h1><span class="fa fa-calendar"></span></h1>
            <h3>@Model.DateDifference(DateTime.Now, course.DateAdded)</h3>
            <h5>
                <span class="fa fa-clock-o"></span>
                @if (course.EndDate != DateTime.MinValue)
                {
                    @if (DateTime.Now > course.EndDate)
                    {
                        <span class="text-danger">
                            FINISHED
                        </span>
                    }
                    else
                    {
                        <span class="text-danger">
                            End in
                            @Model.DateDifference(course.EndDate, 
                                    DateTime.Now).Replace("ago", "")
                        </span>
                    }
                }
                else
                {
                    <span class="text-success">
                        NO END DATE
                    </span>

                }
            </h5>
        </div>
        <div class="col-md-10">
            <div class="col-md-1 text-center">
                <h1><span class="text-big icon @course.AwardIcon"></span></h1>
            </div>
            <div class="col-md-4">
                <h2>@course.Title</h2>
                <h4>
                    by:
                    @if (course.CreatedBy != null)
                    {
                        <span class="text-info">
                            &#64;@course.CreatedBy.UserName
                        </span>
                    }
                    else
                    {
                        <span class="text-info"> &#64;SirmiumCommercial</span>
                    }
                </h4>
                <h5>
                    @if (course.Users != null)
                    {
                        @course.Users.Count()
                        <span> participants</span>
                    }
                    else
                    {
                        <span>0 participants</span>
                    }
                </h5>
            </div>
            <div class="col-md-3 text-center"></div>
            <div class="col-md-3 text-center">
                @if (course.Users != null)
                {
                    if (course.Users.Select(u => u.Id == ViewData["Id"]).Any())
                    {
                        <span class="badge badge-primary">My course</span>
                    }
                }
                @if ((DateTime.Now > course.EndDate) &&
                  (course.EndDate != DateTime.MinValue))
                {
                    <button class="btn btn-primary" disabled>
                        <span class="fa fa-plus"></span>
                        Participate
                    </button>
                }
                else
                {
                    <a asp-action="ParticipateCours"
                       asp-controller="Courses"
                       asp-route-id="@ViewData["Id"]"
                       class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        Participate
                    </a>
                }
                <a asp-action="CourseDetails"
                   asp-controller="Courses"
                   asp-route-id="@ViewData["Id"]"
                   asp-route-courseId="@course.CourseId"
                   class="btn btn-outline btn-info">
                    Details
                </a>
            </div>
        </div>
    </div>
}
