@model CourseViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = Model.Course.Title;
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/UserLocal.css" />
        <link rel="stylesheet" href="~/lib_local/presentationForms/presentationForm.css" />
    </environment>
}

<div class="col-lg-12">
    <div class="col-lg-2 text-center p-lg">
        <h5 class="text-muted">Award</h5>
        <h1>
            <span class="@Model.Course.AwardIcon text-big"></span>
        </h1>
    </div>
    <div class="col-lg-3">
        <h2>
            @Model.Course.Title
        </h2>
        <h4>
            by:
            @if (Model.User != null)
            {
                <span class="text-info">
                    &#64;@Model.User.UserName
                </span>
            }
            else
            {
                <span class="text-info"> &#64;SirmiumCommercial</span>
            }
        </h4>
        <h5><span class="fa fa-plus-circle"></span> Added: @Model.Course.DateAdded.ToString()</h5>
        <h5><span class="fa fa-pencil-square-o"></span> Date modified: @Model.Course.DateAdded.ToString()</h5>
    </div>
    <div class="col-lg-2">
        @if (Model.Course.Presentations.Count() > 0)
        {
            <h4>Parts: <span class="text-warning">@Model.Course.Presentations.Count()</span>   </h4>
        }
        else
        {
            <h4>Parts: <span class="text-danger">0</span></h4>
        }
        <h5>
            <span class="fa fa-clock-o"></span>End Date:
            @if (Model.Course.EndDate != DateTime.MinValue)
            {
                <span class="text-danger">
                    @Model.Course.EndDate.ToShortDateString()
                </span>
            }
            else
            {
                <span class="text-success">
                    NO END DATE
                </span>
            }
        </h5>
        @if ((DateTime.Now > Model.Course.EndDate) &&
(Model.Course.EndDate != DateTime.MinValue))
        {
            <h4>
                <span class="badge badge-danger text-warning" style="font-size:16px">
                    <b>FINISHED</b>
                </span>
            </h4>
        }
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 text-center">
        @if (Model.Course.Users != null)
        {
            if (Model.Course.Users.Select(u => u.Id == ViewData["Id"]).Any())
            {
                <span class="badge badge-primary">My course</span>
            }
            else
            {
                if ((DateTime.Now > Model.Course.EndDate) &&
                    (Model.Course.EndDate != DateTime.MinValue))
                {
                    <button class="btn btn-primary" disabled>
                        <span class="fa fa-plus"></span>
                        Participate
                    </button>
                }
                else
                {
                    <a asp-action="ParticipateCours"
                       asp-controller="Courses"
                       asp-route-id="@ViewData["Id"]"
                       class="btn btn-primary">
                        <span class="fa fa-plus"></span>
                        Participate
                    </a>
                }
            }
        }
    </div>
</div>

@if (Model.Course.Description != null)
{
    <div class="row m-sm p-sm">
        <div class="col-md-1"></div>
        <div class="col-md-10 borderDashed" style="">
            <h4>Description:</h4>
            <span class="text-info">@Model.Course.Description</span>
            <br />
            <br />
        </div>
    </div>
}


<!--Show presentation or users on course-->
<div id="topNav" class="row m-b-sm">
    <div class="col-lg-3 navBtn" id="showPresentationsBtn">
        <h2 class="m-l-sm"><strong>Presentations</strong></h2>
    </div>
    <div class="col-lg-3 navBtn" id="showUsersBtn">
        <h2 class="m-l-sm"><strong>Users</strong></h2>
    </div>
</div>
<div id="showPresentations" style="">
    @Html.Partial("AllPresentations", Model);
</div>
<div id="showUsers" style="display: none">
    @Html.Partial("AllUsers", Model)
</div>
</div>

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_local/presentationForms/presentationForm.js"></script>
    </environment>
}