@model CourseViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = Model.Course.Title;
    var borderTop = new List<String>{"hviolet", "hred", "hgreen", "hyellow",
            "hblue", "hnavyblue", "horange", "hreddeep"};
    var i = 0;
    ViewData["For"] = "Course";
    ViewData["ForId"] = Model.Course.CourseId;
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/UserLocal.css" />
        <link rel="stylesheet" href="~/lib_local/courseDetails/courseDetails.css" />
    </environment>
}

<!--Msg window-->
@if (TempData["sccMsgCourse"] != null)
{
    <div id="msgWindowSuccess">
        <input value="@TempData["sccMsgCourse"]" id="windowMsg" hidden />
    </div>
}
@if (TempData["errMsgCourse"] != null)
{
    <div id="msgWindowError">
        <input value="@TempData["errMsgCM"]" id="windowMsg" hidden />
    </div>
}

<!--Course details-->
<div class="row m-b-n">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up" style="font-size:20px"></i></a>
                </div>
                <h2 class="m-n">
                    <span class="@Model.Course.AwardIcon"></span>
                    <span class="text-primary">@Model.Course.Title</span> details
                </h2>
            </div>
            <div class="panel-body">
                @Html.Partial("Details", Model)
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("CourseDetailsNav", new { id = Model.Course.CourseId })

@if (Model.UsersOnCourse.Count() == 0)
{
    <div class="col-lg-12 navbar bg-info">

        <span class="navbar-brand">No Users</span>

    </div>
}
else
{
    <div class="content">
        <div class="row">
            @foreach (AppUser user in Model.UsersOnCourse)
            {
                <div class="col-lg-3">
                    <div class="hpanel contact-panel @borderTop[i]">
                        <div class="panel-body">
                            @if (user.ProfilePhotoUrl == null)
                            {
                                <img src="~/defaultAvatar.png" class="img-circle m-b"
                                     alt="logo" />
                            }
                            else
                            {
                                <img src="~/UsersData/@user.ProfilePhotoUrl"
                                     class="img-circle m-b" alt="logo" />
                            }

                            <h3>@user.FirstName <br /> @user.LastName</h3>
                            <a href="@Url.Action("UserProfile", "User",
                            new { id = ViewData["Id"], userId = user.Id })">
                                <span class="text-muted font-bold m-b-xs text-info">
                                    &#64;@user.UserName
                                </span>
                            </a><br />
                            <div class="row">
                                <a href=""
                                   class="btn btn-primary pull-right m-r-sm">
                                    Message <span class="pe pe-7s-chat"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                if (i == 7) { i = 0; } else { i++; }
            }
        </div>
    </div>
}


@section Scripts {
    <environment names="Development,Staging,Production">
    </environment>
}