@model FilesViewModel

@foreach (PresentationFiles pf in Model.Files)
{
    <div class="col-lg-4">
        <div class="hpanel contact-panel hgreen">
            <div class="panel-body" style="padding: 0px;">
                <div class="row text-center">
                    <h5 class="text-muted">@pf.Title</h5>
                    <a onclick="showFile('@pf.FilePath')">
                        <span style="font-size: x-large" class="fa fa-expand"></span>
                    </a>
                </div>

                <div class="row text-center">
                    <embed src="@pf.FilePath" style="width: 90%; height: 300px"
                           type="application/pdf" />
                </div>
            </div>
        </div>
    </div>
}

<div page-model="@Model.CoursePageInfo" course-id="@Model.Course.CourseId" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-default"
     page-class-selected="btn-primary" class="btn-group pull-left m-sm">
</div>