@model IQueryable<FilesViewModel>
@{
    Layout = "_UserLayout";
}

@section Styles {
    <environment names="Development,Staging,Production">
    </environment>
    <style type="text/css">
    .file-window {
        width: 80%;
        position: fixed;
        top: 10%;
        left: 5%;
        background: #fff;
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, .4);
        opacity: 1;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .6);
        transition: all 0.3s linear 0s;
        z-index: 2;
    }

    .file-window-header {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        color: #6a6c6f;
    }

    .freeze-layer-files {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .3);
        z-index: 1;
    }
    </style>
}

<style>
</style>

<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="fa fa-files-o"></span>
            <strong>@ViewData["Title"]</strong>
            <span>&emsp;</span>
        </div>
    </div>
</div>



@foreach (FilesViewModel fvm in Model)
{
    if (fvm.Files.Count() > 0)
    {
        <div class="row m-l-md m-r-md">
            <div class="col-lg-12">
                <div class="hpanel m-b-xs">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        <a href="@Url.Action("CourseDetails", "Courses",
                                    new { id = ViewData["Id"],
                                    courseId = fvm.Course.CourseId})">
                            <span style="font-size: 18px">
                                <strong class="@fvm.Course.AwardIcon" style="font-size: 25px"></strong>&emsp;
                                @fvm.Course.Title
                            </span>
                        </a>
                    </div>
                    <div class="panel-body" style="padding-bottom: 5px;">
                        <div class="row">
                            @foreach (PresentationFiles pf in fvm.Files)
                            {
                                @*@<div class="col-lg-3 m-b-sm m-l-xs">
                                        <embed src="@pf.FilePath" style="width: auto; height: auto" type="application/pdf" />
                                    </div>*@
                            <div class="col-lg-4">
                                <div class="hpanel contact-panel hgreen">
                                    <div class="panel-body" style="padding: 0px;">
                                        <div class="row text-center">
                                            <a onclick="showFile('@pf.FilePath')">
                                                <span style="font-size: x-large" class="fa fa-expand"></span>
                                            </a>
                                        </div>

                                        <div class="row text-center">
                                            <embed src="@pf.FilePath" style="width: 90%; height: 300px"
                                                   type="application/pdf" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<div id="freezeLayer" class="freeze-layer-files" style="display: none"></div>

<div id="file-fullscreen" class="file-window" style="display: none">
    <div class="file-window-header">
        <a class="pull-right" onclick="closeFile();">
            <span class="fa fa-close"></span>
        </a>
    </div>
    <div id="file-window-body" style="background-color: none;">
    </div>
</div>
<!--TODO: On click on file --- full screen-->

<div>
    <a onclick=""></a>
    <embed id="file-embed" style="width: auto; height: auto" type="application/pdf" />
</div>

<script type="text/javascript">
    function showFile(filePath) {
        var freezeLayer = document.getElementById("freezeLayer");
        var fullscreen = document.getElementById("file-fullscreen");
        var fileWindowBody = $("#file-window-body");
        fileWindowBody.html(`
        <embed id="file-embed" src="` + filePath + `"
        style="width: 100%; height: 400px" type="application/pdf" />
        `);
        fullscreen.style.display = "";
        freezeLayer.style.display = "";
    };

    function closeFile() {
        var freezeLayer = document.getElementById("freezeLayer");
        var fullscreen = document.getElementById("file-fullscreen");
        fullscreen.style.display = "none";
        freezeLayer.style.display = "none";
    };
</script>