@model IQueryable<Group>

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Groups";

    string userPhoto(string path)
    {
        return (path == null) ? "/defaultAvatar.png" : $"/UsersData/{path}";
    }

    string firstLastNameExists(AppUser user)
    {
        return (user.FirstName == null || user.LastName == null) ?
            user.UserName : user.FirstName + " " + user.LastName;
    }

    string groupPhoto(string path)
    {
        return (path == null) ? "/defaultGroup.png" : $"/UsersData/Groups/{path}";
    }
}

<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="fa fa-users"></span>
            <strong>@ViewData["Title"]</strong>
            <span>&emsp;</span>
            <a href="#" class="pull-right btn"
               data-toggle="collapse" data-target="#collapseExample"
               aria-expanded="false" aria-controls="collapseExample">
                <span class="pe-7s-edit" style="font-size: 25px; color: #000000"></span>
                <span class="text-muted" style="font-size: 20px;">Filter</span>
            </a>
            @await Component.InvokeAsync("GroupsAdmin", new { userId = ViewData["Id"] })
            <span>&emsp;</span>
            <div class="pull-right" style="padding-top: 6px;">
                <input type="text" placeholder="&#xF002; Search" onkeyup="searchGroups();"
                       class="form-control" style="font-family:Arial, FontAwesome" id="group-search">
            </div>
        </div>
        <div class="collapse " id="collapseExample">
            <div class="well well-lg row m-l-xs m-r-xs">
                @await Component.InvokeAsync("GroupsStatusAdmin", new { userId = ViewData["Id"] })
            </div>
        </div>
    </div>
</div>

@foreach (Group group in Model)
{
    <div class="row m-l-md m-r-md group-panel">
        <div class="hpanel m-b-xs">
            <div class="panel-body" style="padding-bottom: 10px">
                <div class="col-sm-6">
                    <img class="img-circle" style="width: 100px; height: 100px"
                         src="@groupPhoto(group.GroupPhotoPath)" />
                    <span style="font-size: 25px; color: #000000;">@group.Name</span>
                    <input class="group-name" value="@group.Name" hidden />
                </div>
                <div class="col-sm-3">
                    <h5 class="text-muted">Created by:</h5>
                    <h4 class="text-info font-bold">
                        <img class="img-circle" style="width: 30px; height: 30px"
                             src="@userPhoto(group.CreatedBy.ProfilePhotoUrl)" />
                        <a href="@Url.Action("UserProfile", "User",
                                    new { id = ViewData["Id"], userId = group.CreatedBy.Id })">
                            @firstLastNameExists(group.CreatedBy)
                        </a>
                    </h4>
                    <h5 class="text-muted">Date Added:</h5>
                    <h4 class="text-info font-bold">
                        @group.CreatedAt.ToString("dd.MM.yyyy.")
                    </h4>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-1 text-center">
                    @if (group.Status == "Public")
                    {
                        <span class="fa fa-circle text-success" style="font-size: 15px;"></span>
                        <span class="text-muted" style="font-size: 15px;"> Public</span>
                    }
                    else
                    {
                        <span class="fa fa-circle text-danger" style="font-size: 15px;"></span>
                        <span class="text-muted" style="font-size: 15px;"> Private</span>
                    }
                    <br />
                    <a href="@Url.Action("GroupDetails", "Groups", new { id = ViewData["Id"],
                            groupId = group.GroupId})" class="btn">
                        <span class="fa fa-info text-info" style="font-size: 30px"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
}

<input id="total-groups" value="@Model.Count()" hidden />

<script type="text/javascript">

    var totalGroups = document.getElementById('total-groups').value;
    var groupPanel = document.getElementsByClassName('group-panel');
    var groupName = document.getElementsByClassName('group-name');

    function searchGroups() {
        console.log("Radi 1");
        var keyWord = document.getElementById('group-search').value.toUpperCase();

        for (var i = 0; i < totalGroups; i++) {
        console.log("Radi 2");
            if (keyWord == "") {
                groupPanel[i].style.display = "";
            }
            else if (groupName[i].value.toUpperCase().indexOf(keyWord) > -1) {
                groupPanel[i].style.display = "";
            }
            else {
                groupPanel[i].style.display = "none";
            }
        }
    };

</script>