@model IQueryable<CompanyViewModel>

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "All Users";
    var borderTop = new List<String>{"hviolet", "hred", "hgreen", "hyellow",
            "hblue", "hnavyblue", "horange", "hreddeep"};
    var i = 0;

    string imgSrc(string imgPath)
    {
        return (imgPath != null) ? 
            $"<img src='/UsersData/{imgPath}' class='img-circle m-b' alt='photo' />"
            : "<img src='/defaultAvatar.png' class='img-circle m-b' alt='photo' />";
        
    }
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/UserLocal.css" />
    </environment>
}

<div class="normalheader" style="padding-top: 10px">
    <div class="hpanel">
        <div class="panel-body">
            <strong style="font-size:30px">All Users</strong>
        </div>
    </div>
</div>

<div class="content" style="padding-top: 20px;">
    <div class="row">
        @foreach (CompanyViewModel user in Model)
        {

            <div class="col-lg-3">
                <div class="hpanel contact-panel @borderTop[i]">
                    <div class="panel-body">
                        @if ((DateTime.Now - user.User.RegistrationDate).TotalDays < 30)
                        {
                            <span class="label label-success pull-right">NEW</span>
                        }
                        @Html.Raw(imgSrc(user.User.ProfilePhotoUrl))

                        <h3>@user.User.FirstName <br /> @user.User.LastName</h3>
                        <a href="@Url.Action("UserProfile", "User",
                            new { id = ViewData["Id"], userId = user.User.Id })">
                            <span class="text-muted font-bold m-b-xs text-info">
                                &#64;@user.User.UserName
                            </span>
                        </a><br />
                        <div class="row">
                            <a href="@Url.Action("Chat", "Chat", 
                                    new { id = ViewData["Id"], user2Id = user.User.Id})"
                               class="btn btn-primary pull-right m-r-sm">
                                Message <span class="pe pe-7s-chat"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>Awards: </span> <strong>0</strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>Rating: </span> <strong>0</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>Views: </span> <strong>@user.Views</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
            if (i == 7) { i = 0; } else { i++; }
        }
    </div>
</div>