@model LoginModel

@{
    ViewData["Title"] = "Welcome!";
    Layout = "_HomeLayout";


    string userPhoto(string path)
    {
        return (path == null) ? "/defaultAvatar.png" : $"/UsersData/{path}";
    }
}

@if (Model != null)
{
    <div class="login-container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row text-center">
                            <img class="img-circle" style="width: 100px; height: 100px"
                                 src="@userPhoto(Model.PhotoPath)" />
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" value="@Model.UserName" id="username" class="form-control" disabled>
                        </div>
                        <div class="row text-center">
                            <h4 class="text-primary font-bold">Is this your account?</h4>
                        </div>
                        <a href="@Url.Action("SendTmpPassword", "Account", new { username = Model.UserName})" class="btn btn-success btn-block">Yes, send me tmp password</a>
                        <a href="@Url.Action("ForgotPassword", "Account")" class="btn btn-danger btn-outline btn-block">
                            Cancel
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                2019 Copyright <strong>SirmiumERPCommercial</strong>
            </div>
        </div>
    </div>
}
else
{
    <div class="login-container" style="padding-top: 20px;">
        <div class="row">
            <div class="col-md-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <form asp-controller="Account" asp-action="ForgotPassword"
                              method="post" id="loginForm">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" asp-for="UserName" placeholder="Username" title="Please enter you username" id="username" class="form-control">
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Next</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                2019 Copyright <strong>SirmiumERPCommercial</strong>
            </div>
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <h4 class="text-danger">@TempData["Error"]</h4>
}