@model CourseViewModel


@if (Model.Course.Presentations.Count() == 0)
{
    <div class="col-lg-12 navbar bg-info">

        <span class="navbar-brand">No Presentation</span>

        @if (Model.User != null &&
Model.User.Id == ViewData["Id"].ToString())
        {
            <a onclick="NewPresentation.show()"
               class="btn btn-outline btn-success pull-right m-t-sm">
                Add Presentation <i class="fas fa-plus"></i>
            </a>
        }
    </div>
}
else
{
    var i = 0;
    foreach (Presentation p in Model.Course.Presentations.OrderBy(p => p.Part))
    {
        var partColor = new List<String>{"text-primary", "text-primary-2", "text-info",
                            "text-success", "text-warning", "text-danger"};
        <div class="col-lg-12 m-b-sm coursCardManage">
            <div class="col-lg-1 text-center">
                <h4 class="@partColor[i]">PART</h4>
                <h1><span class="text-big @partColor[i]">@p.Part</span></h1>
                @if (i == 5)
                {
                    i = 0;
                }
                else
                {
                    i++;
                }
            </div>
            <div class="col-lg-4">
                <h1>@p.Title</h1>
                <h5>
                    <span class="fa fa-plus-circle"></span>
                    Added:
                    <span class="text-success">
                        @p.DateAdded.Date.ToShortDateString()
                    </span>
                </h5>
                <h5>
                    <span class="fa fa-pencil-square-o"></span>
                    Date modified:
                    <span class="text-info">
                        @p.DateModified.Date.ToShortDateString()
                    </span>
                </h5>
            </div>
            <div class="col-lg-5 borderDashed">
                <h4>Description:</h4>
                <span class="text-info">@p.Description</span>
                <br />
                <br />
            </div>
            <div class="col-lg-2 text-center">
                <a class="btn btn-primary2">
                    Watch <span class="pe pe-7s-play"></span>
                </a>
                <br />
                @if (Model.User != null &&
                   Model.User.Id == ViewData["Id"].ToString())
                {
                    <a onclick="EditPresentation.show(@p.PresentationId)"
                       class="btn btn-outline btn-warning2 m-t-sm">
                        Edit <span class="far fa-edit"></span>
                    </a>
                }
            </div>
        </div>
        <!--Edit Presentation Form-->
        <div>
            @Html.Partial("EditPresentationForm", new NewEditPresentation
        {
           CourseId = Model.Course.CourseId,
           Presentation = p
        })
        </div>
    }
}

