@model CourseViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Manage -" + Model.Course.Title;
    ViewData["ReturnUrl"] = ViewContext.HttpContext.Request.PathAndQuery();
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/UserLocal.css" />
        <link rel="stylesheet" href="~/lib_local/presentationForms/presentationForm.css" />
        <link rel="stylesheet" href="~/lib_local/videoRec/videoRec.css" />
    </environment>
}

<div id="customSuccessWindow"></div>
@if (TempData["messageCM"] != null)
{
    <input value="@TempData["messageCM"].ToString()" id="msgText" hidden />
    <script>
        var msg = document.getElementById('msgText').value;
        window.onload = function () {
            CustomSuccessWindow.show(msg);
        };

                                /**/</script>
}

<!--Warning Window-->
<div id="customWarningDialog"></div>

<!--Msg window-->
@if (TempData["succMsgCM"] != null)
{
    <div id="msgWindowSuccess">
        <input value="@TempData["succMsgCM"]" id="windowMsg" hidden />
    </div>
}
@if (TempData["errMsgCM"] != null)
{
    <div id="msgWindowError">
        <input value="@TempData["errMsgCM"]" id="windowMsg" hidden />
    </div>
}

<!--Create a Video form-->
<div id="videoFreezeLayer" class="video-freeze-layer" style="display: none"></div>
<div>
    @Html.Partial("CaptureVideo", new VideoModel
    {
        UserId = ViewData["Id"].ToString(),
        For = "Course",
        ForId = Model.Course.CourseId
    })
</div>

<!--Header-->
<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="@Model.Course.AwardIcon"></span>
            <span class="text-primary">@Model.Course.Title</span>

            <div class="dropdown pull-right">
                <a class="dropdown-toggle btn" href="#" data-toggle="dropdown"
                   style="font-size: 20px;">
                    <span class="fa fa-cog text-info"></span>
                    <strong class="text-muted"> Settings</strong>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a onclick="CustomWarningWindow.show(
                                        'Are you sure you want to delete @Model.Course.Title?',
                                        'Yes, delete it!',
                                        '@Url.Action("DeleteCourse", "Manage",
                                            new { id = ViewData["Id"],
                                                courseId = Model.Course.CourseId })')"
                                       class="btn btn-outline btn-danger2">
                                        Delete <br /> <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <a @*onclick="NewPresentation.show()"*@
                                       href="@Url.Action("NewPresentation", "Manage",
                                            new { id = ViewData["Id"], courseId = Model.Course.CourseId })"
                                       class="btn btn-outline btn-success m-t-md">
                                        Add Presentation <br /> <i class="fas fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("EditCourse", "Manage",
                                           new { id = ViewData["Id"], courseId = Model.Course.CourseId })"
                                       class="btn btn-outline btn-warning2 m-t-md">
                                        Edit <br /> <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a onclick="NewPresentation.show()"
                                       class="btn btn-outline btn-primary m-t-md">
                                        Add User <br /> <i class="fas fa-user-plus"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @if (Model.Course.Status == "Private")
                                    {
                                        <a onclick="CustomWarningWindow.show(
                                            'Are you sure you want to share @Model.Course.Title?',
                                            'Yes', '@Url.Action("ChangeCourseStatus", "Manage",
                                            new { id = ViewData["Id"], courseId = Model.Course.CourseId })')"
                                           class="btn btn-success btn-outline m-t-md"
                                           style="font-size: 30px;">
                                            Share <i class="fas fa-share"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="CustomWarningWindow.show(
                                                'Are you sure you want to hide @Model.Course.Title?',
                                                'Yes', '@Url.Action("ChangeCourseStatus", "Manage",
                                                new { id = ViewData["Id"], courseId = Model.Course.CourseId })')"
                                           class="btn btn-danger btn-outline m-t-md"
                                           style="font-size: 30px;">
                                            Hide <i class="far fa-eye-slash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Course details-->
<div class="row m-l-md m-r-md">
    <div class="col-lg-12">
        <div class="hpanel m-b-xs">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up" style="font-size:20px"></i></a>
                </div>
                <h3 class="m-n">
                    <span class="fas fa-info text-info"></span>
                    <span class="text-muted"> Details:</span>
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("Details", Model)
            </div>
        </div>
    </div>
</div>


<!--Course presentations-->
<div class="row m-l-md m-r-md">
    <div class="col-lg-12">
        <div class="hpanel m-b-xs panel-collapse">
            <div class="panel-heading">
                <div class="panel-tools" style="font-size:20px">
                    <span class="text-muted">Total parts:</span>
                    @if (Model.Course.Presentations.Count == 0)
                    {
                        <span class="text-warning">0</span>
                    }
                    else
                    {
                        <span class="text-primary">@Model.Course.Presentations.Count</span>
                    }
                    <a class="showhide"><i class="fa fa-chevron-down"></i></a>
                </div>
                <h3 class="m-n">
                    <span class="fas fa-book-open text-primary"></span>
                    <span class="text-muted"> Presentations:</span>
                </h3>
            </div>
            @if (Model.Course.Presentations.Count() == 0)
            {
                <div class="panel-body" style="display: none">
                    <div class="col-lg-12 navbar bg-info">
                        <span class="navbar-brand">No Presentation</span>
                    </div>
                </div>
            }
            else
            {
                var i = 0;
                foreach (Presentation p in Model.Course.Presentations.OrderBy(p => p.Part))
                {
                    var partColor = new List<String>{"text-primary", "text-primary-2", "text-info",
                            "text-success", "text-warning", "text-danger"};
                    <div class="panel-body" style="display: none">
                        <div class="col-lg-12 m-b-sm ">
                            <div class="col-lg-1 text-center">
                                <h4 class="@partColor[i]">PART</h4>
                                <h1><span class="text-big @partColor[i]">@p.Part</span></h1>
                                @if (i == 5)
                                {
                                    i = 0;
                                }
                                else
                                {
                                    i++;
                                }
                            </div>
                            @if (p.VideoId != 0)
                            {
                                <div class="col-lg-3">
                                    <div id="video-videoBtn"
                                         style="background-color: #0c0830; padding:0px">
                                        <video src="@Model.Videos.FirstOrDefault(v => v.Id == p.VideoId).VideoPath" class="img-video"
                                               style="z-index: 1" id="video-video"></video>
                                        <div class="text-center img-video videoBtn" style="z-index: 1">
                                            <a href="@Url.Action("Index", "Recorder",
                                                new { id = ViewData["Id"], videoId = p.VideoId })"
                                               class="btn btn-sm btn-primary2 p-xs">
                                                <span style="font-weight: 400; font-size: 18px">Watch</span>
                                                <span class="fa fa-play" style="font-size: 18px"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-3">
                                    <div class="text-center p-lg" style="width: 100%; height: 80%;
                                    background-color: #bbbbbb;">
                                        <strong style="color:#34495e; font-size:20px;
                                            font-family: 'Open Sans','Helvetica Neue',
                                            Helvetica,Arial,sans-serif; ">
                                            SirmiumCommercial
                                        </strong>
                                        <br />
                                        <br />
                                        <i style="font-size: 45px; color:#5b80a4;" class="fas fa-video-slash"></i>
                                        <br />
                                        <strong style="font-size: 25px; color:#5b80a4;">NO VIDEO</strong>
                                    </div>
                                </div>
                            }
                            <div class="col-lg-4">
                                <h1>@p.Title</h1>
                                <h5>
                                    <span class="fa fa-plus-circle"></span>
                                    Added:
                                    <span class="text-success">
                                        @p.DateAdded.Date.ToShortDateString()
                                    </span>
                                </h5>
                                <h5>
                                    <span class="fa fa-pencil-square-o"></span>
                                    Date modified:
                                    <span class="text-info">
                                        @p.DateModified.Date.ToShortDateString()
                                    </span>
                                </h5>
                            </div>
                            <div class="col-lg-2 text-center">
                                <a class="btn m-t-sm" style="font-size: 18px;"
                                   href="@Url.Action("EditPresentation", "Manage", new {
                                        id = ViewData["Id"],
                                        presentationId = p.PresentationId,
                                        courseId = Model.Course.CourseId
                                    })">
                                    <span class="fa fa-edit text-warning"></span>
                                    <strong class="text-muted"> Edit</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_local/presentationForms/presentationForm.js"></script>
        <script src="~/lib_local/videoRec/videoRec.js"></script>
    </environment>
}