@model CourseViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Manage -" + Model.Course.Title;
    ViewData["ReturnUrl"] = ViewContext.HttpContext.Request.PathAndQuery();
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/UserLocal.css" />
        <link rel="stylesheet" href="~/lib_local/presentationForms/presentationForm.css" />
        <link rel="stylesheet" href="~/lib_local/videoRec/videoRec.css" />
    </environment>
}

<div id="customSuccessWindow"></div>
@if (TempData["messageCM"] != null)
{
    <input value="@TempData["messageCM"].ToString()" id="msgText" hidden />
    <script>
        var msg = document.getElementById('msgText').value;
        window.onload = function () {
            CustomSuccessWindow.show(msg);
        };

                                    /**/</script>
}

<!--Warning Window-->
<div id="customWarningDialog"></div>

<!--Msg window-->
@if (TempData["succMsgCM"] != null)
{
    <div id="msgWindowSuccess">
        <input value="@TempData["succMsgCM"]" id="windowMsg" hidden />
    </div>
}
@if (TempData["errMsgCM"] != null)
{
    <div id="msgWindowError">
        <input value="@TempData["errMsgCM"]" id="windowMsg" hidden />
    </div>
}

<!--Create a Video form-->
<div id="videoFreezeLayer" class="video-freeze-layer" style="display: none"></div>
<div>
    @Html.Partial("CaptureVideo", new VideoModel
    {
        UserId = ViewData["Id"].ToString(),
        For = "Course",
        ForId = Model.Course.CourseId
    })
</div>

<!--Header-->
<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="@Model.Course.AwardIcon"></span>
            <span class="text-primary">@Model.Course.Title</span>

            <div class="dropdown pull-right">
                <a class="dropdown-toggle btn" href="#" data-toggle="dropdown"
                   style="font-size: 20px;">
                    <span class="fa fa-cog text-info"></span>
                    <strong class="text-muted"> Settings</strong>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a onclick="CustomWarningWindow.show(
                                        'Are you sure you want to delete @Model.Course.Title?',
                                        'Yes, delete it!',
                                        '@Url.Action("DeleteCourse", "Manage",
                                            new { id = ViewData["Id"],
                                                courseId = Model.Course.CourseId })')"
                                       class="btn btn-outline btn-danger2">
                                        Delete <br /> <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                                <td>
                                    <a @*onclick="NewPresentation.show()"*@
                                       href="@Url.Action("NewPresentation", "Manage",
                                            new { id = ViewData["Id"], courseId = Model.Course.CourseId })"
                                       class="btn btn-outline btn-success m-t-md">
                                        Add Presentation <br /> <i class="fas fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("EditCourse", "Manage",
                                           new { id = ViewData["Id"], courseId = Model.Course.CourseId })"
                                       class="btn btn-outline btn-warning2 m-t-md">
                                        Edit <br /> <i class="far fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a onclick="NewPresentation.show()"
                                       class="btn btn-outline btn-primary m-t-md">
                                        Add User <br /> <i class="fas fa-user-plus"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    @if (Model.Course.Status == "Private")
                                    {
                                        <a onclick="CustomWarningWindow.show(
                                            'Are you sure you want to share @Model.Course.Title?',
                                            'Yes', '@Url.Action("ChangeCourseStatus", "Manage",
                                            new { id = ViewData["Id"], courseId = Model.Course.CourseId })')"
                                           class="btn btn-success btn-outline m-t-md"
                                           style="font-size: 30px;">
                                            Share <i class="fas fa-share"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a onclick="CustomWarningWindow.show(
                                                'Are you sure you want to hide @Model.Course.Title?',
                                                'Yes', '@Url.Action("ChangeCourseStatus", "Manage",
                                                new { id = ViewData["Id"], courseId = Model.Course.CourseId })')"
                                           class="btn btn-danger btn-outline m-t-md"
                                           style="font-size: 30px;">
                                            Hide <i class="far fa-eye-slash"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Course details-->
<div class="row m-l-md m-r-md">
    <div class="col-lg-12">
        <div class="hpanel m-b-xs">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up" style="font-size:20px"></i></a>
                </div>
                <h3 class="m-n">
                    <span class="fas fa-info text-info"></span>
                    <span class="text-muted"> Details:</span>
                </h3>
            </div>
            <div class="panel-body">
                @Html.Partial("Details", Model)
            </div>
        </div>
    </div>
</div>


<!--Course presentations-->
<div class="row m-l-md m-r-md m-b-md">
    <div class="col-lg-12">
        <div class="hpanel m-b-xs">
            <div class="panel-heading">
                <div class="panel-tools" style="font-size:20px">
                    <span class="text-muted">Total parts:</span>
                    @if (Model.Course.Presentations.Count == 0)
                    {
                        <span class="text-warning">0</span>
                    }
                    else
                    {
                        <span class="text-primary">@Model.Course.Presentations.Count</span>
                    }
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>
                <h3 class="m-n">
                    <span class="fas fa-book-open text-primary"></span>
                    <span class="text-muted"> Presentations:</span>
                </h3>
            </div>
            @if (Model.Course.Presentations.Count() == 0)
            {
                <div class="panel-body">
                    <div class="row text-center">
                        <h3><strong class="text-muted">No Presentations</strong></h3>
                    </div>
                </div>
            }
            else
            {
                @await Html.PartialAsync("CourseManagePresentationsPartial", Model.AllPresentations)
            }
        </div>
    </div>
</div>

<input id="c-manage-current-user" value="@ViewData["Id"].ToString()" hidden />

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib_local/presentationForms/presentationForm.js"></script>
        <script src="~/lib_local/videoRec/videoRec.js"></script>
    </environment>

    <script>
        var cUser = document.getElementById("c-manage-current-user").value;

        function morePresentations(cId, currentPage) {
            var url = '@Url.Action("CourseManagePresentationsPartial", "Manage")';
            $("#all-course-presentations").load(url, { id: cUser, courseId: cId, currentPage: currentPage });
        };
    </script>
}