@model NewEditPresentation

<div id="freezeLayer" class="freeze-layer" style="display: none"></div>
<div class="form-container @Model.Presentation.PresentationId" style="display: none">
    <div class="form-header">
        <span>Edit: @Model.Presentation.Title</span>
        <a href="@Url.Action("DeletePresentation", "Manage",
                new { id = ViewData["Id"], courseId = Model.CourseId,
                      presentationId = Model.Presentation.PresentationId})"
           class="btn btn-outline btn-danger2 pull-right m-t-sm m-r-sm">
            Delete <span class="pe pe-7s-trash"></span>
        </a>
    </div>
    <form asp-action="EditPresentation" asp-route-id="@ViewData["Id"]" method="post">
        <div asp-validation-summary="All"></div>
        <input asp-for="CourseId" hidden />
        <input asp-for="Presentation.PresentationId" hidden />
        <div class="row m-l-sm m-b-md">
            <label class="col-sm-2 text-right m-t-sm">Title: </label>
            <input asp-for="Presentation.Title" class="form-input col-sm-9" />
        </div>
        <div class="row m-l-sm m-b-md">
            <label class="col-sm-2 text-right m-t-sm">Part: </label>
            <input asp-for="Presentation.Part" class="form-input col-sm-9" />
        </div>
        <div class="row m-l-sm m-b-md">
            <label class="col-sm-2 text-right m-t-sm">Description: </label>
            <textarea asp-for="Presentation.Description" class="form-input col-sm-9"
                      placeholder="Add Course Description..."></textarea>
        </div>
        <div class="row text-center presentationForm">
            <a class="m-r-md" onclick="EditPresentation.close(@Model.Presentation.PresentationId)">
                Cancel
            </a>
            <button type="submit">
                Save
            </button>
        </div>
    </form>
</div>